body {
  padding-top: 80px; /* adjust based on header height */
}

:root {
  --gold: #FFD700;
  --red: #ff0000;
  --dark: #111;
  --blackish: rgba(0, 0, 0, 0.8);
}

/* === Reset & Base === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(0.4);
}
